<!DOCTYPE html>

<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>with love from ...</title>
    <link rel="stylesheet" type="text/css" href="public/styles/stylishLove.css">
    <script src="public/scripts/functionalLove.js" defer></script>

    <!-- IMPORT FONTS ------------------------------------------------- -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

</head>





<body class="bodyControl" >

    <div class="mainControl">

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

        <!-- PERSON SHARING THE LOVE TAB --------------------------------->

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

        <div class="userTitleCardContainer">

            <div class="userTitleCardResizer">

                <div class="userTitleCardActualCardContainer">

                    <div class="userTitleCardActualCardSideOneContainer">

                        <div class="userTitleCardDecoSideOne">

                        </div>

                    </div>

                    <div class="userTitleCardActualCardSideTwoContainer">

                        <div class="userTitleCardTextContainer">

                            with love from

                        </div>

                    </div>

                    <div class="userTitleCardActualCardSideThreeContainer">

                        <div class="userTitleCardDecoSideTwo">

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

        <!-- LANGUAGE BUTTON TRANSLATOR TAB ------------------------------>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

            <div class="withLoveLangaugeSelectorContainer">

                <div class="withLoveLangaugeSelectorResizer">

                    <div class="withLoveLanguageSelectorDropDownContainerMain">

                        <select class="withLoveLanguageSelectorDropDownContainer"></select>

                    </div>

                </div>

            </div>





        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

        <!-- THE LOVE CONTENT CONTAINER ---------------------------------->

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

        <div class="contentContainer">

            <!-- CONTENT CONTAINER INTRO PARA CONTAINER xxxxxxxxxxxxxxx -->

            <div class="contentContainerIntroParaContainer">

                <div class="contentContainerIntroParaResizer">

                    <div class="contentContainerIntroParaHeaderText">

                        EdBear.

                    </div>

                    <!-- <div class="contentContainerIntroSectionUnderlinerSide">

                        <div class="contentContainerIntroSectionUnderlinerActual">

                        </div>

                    </div> -->

                    <div class="contentContainerIntroSubParaText">

                        Welcome to my little corner of awesomeness.

                        I hope you can take your mind off of things for 5 minutes.

                        Hoping you have a great day, because you desreve one.

                    </div>

                </div>

            </div>





            <!-- CONTENT CONTAINER ACTUAL CONTAINER xxxxxxxxxxxxxxxxxxx -->

            <div class="contentContainerActualContentContainer">

                    <!-- MUSIC ---------------------------------------- -->

                    <div class="contentContainerMusicContainer">





                        <!-- ********************************************** -->
                        <!-- BACKDROP BLOCKER ----------------------------- -->

                        <div class="contentContainerMusicBackdropBlockerContainer">

                        </div>

                        <!-- BACKDROP BLOCKER ----------------------------- -->
                        <!-- ********************************************** -->




                        <!-- HEADER TAB xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                        <div class="contentContainerMusicHeaderContainer">

                            <div class="contentContainerMusicTextUnderlinerClickerContainer">

                                <div class="contentContainerMusicTextSide">

                                    <div class="contentContainerMusicHeadlinerText">

                                        music

                                    </div>

                                </div>





                                <div class="contentContainerMusicButtonClickerSide">

                                    <div class="contentContainerMusicButtonActual">

                                        <!-- CLICKER SET -------------- -->
                                                                                
                                        <div class="contentContainerMusicButtonClickerSet">
                                                                                    
                                            <div class="contentContainerMusicButtonClickerOn">
                                                                                        
                                            </div>
                                                                                        
                                            <div class="contentContainerMusicButtonClickerOff">
                                                                                        
                                            </div>
                                                                                
                                        </div>





                                        <!-- ICON SET ----------------- -->
                                                                                
                                        <div class="contentContainerMusicButtonIconSet">
                                                                                    
                                            <div class="contentContainerMusicButtonIconOne">
                                                                                        
                                            </div>
                                                                                        
                                            <div class="contentContainerMusicButtonIconTwo">
                                                                                        
                                            </div>
                                                                                
                                        </div>

                                    </div>

                                </div>

                                <div class="contentContainerMusicButtonUnderlinerSide">

                                    <div class="contentContainerMusicButtonUnderlinerActual">

                                    </div>

                                </div>

                            </div>

                        </div>





                        <!-- MUSIC CONTENT CONTAINER xxxxxxxxxxxxxxxxxx -->

                        <div class="musicContentContainer">

                            <div class="musicContentContainerResizer">





                                <!-- MUSIC TRACK ONE ------------------ -->

                                <div class="musicContentContainerTrackOneContainer">

                                    <div class="musicContentContainerTrackOneResizer">





                                        <!-- TRACK NAME HEADLINER xxxxx -->
                                                                                
                                        <div class="musicContentContainerTrackOneTrackNameSide">
                                                                                    
                                            <div class="musicContentContainerTrackOneHeaderNameText">

                                                Gorrilaz
                                                                                        
                                            </div>
                                                                                        
                                            <div class="musicContentContainerTrackOneSubHeaderNameText">

                                                desole
                                                                                        
                                            </div>
                                                                                
                                        </div>





                                        <!-- TRACK CONTROLS xxxxxxxxxxx -->
                                                                                
                                        <div class="musicContentContainerTrackOneTrackControlsSide">
                                                                                    
                                            <div class="musicContanetContainerTrackOneControlsContainer">





                                                <!-- PLAY BUTTON ------- -->
                                                                                                
                                                <div class="musicContentContainerTrackOneControlsSideOne">
                                                                                                    
                                                    <div class="musicContentContainerTrackOnePlayButton">





                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackOnePlayClickersSetContainer">
                                                                                                                    
                                                            <div class="trackOnePlayClickerOn">
                                                                                                                        
                                                            </div>

                                                            <div class="trackOnePlayClickerOnAfterInitial">

                                                            </div>

                                                            <div class="trackOnePlayClickerBlocker">

                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PLAY BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackOnePlayButtonActual">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>





                                                <!-- PAUSE BUTTON ------ -->
                                                                                                
                                                <div class="musicContentContainerTrackOneControlsSideTwo">
                                                                                                    
                                                    <div class="musicContentContainerTrackOnePauseButton">





                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackOnePauseClickersSetContainer">
                                                                                                                    
                                                            <div class="trackOnePauseClickerOn">
                                                                                                                        
                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PAUSE BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackOnePauseButtonActualOne">
                                                                                                                
                                                        </div>
                                                                                                                
                                                        <div class="musicContentContainerTrackOnePauseButtonActualTwo">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>





                                                <!-- STOP BUTTON ------ -->
                                                                                                
                                                <div class="musicContentContainerTrackOneControlsSideThree">
                                                                                                    
                                                    <div class="musicContentContainerTrackOneStopButton">





                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackOneStopClickersSetContainer">
                                                                                                                    
                                                            <div class="trackOneStopClickerOn">
                                                                                                                        
                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PAUSE BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackOneStopButtonActual">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>
                                                                                        
                                            </div>
                                                                                
                                        </div>

                                    </div>

                                </div>





                                <!-- MUSIC TRACK TWO ------------------ -->

                                <div class="musicContentContainerTrackTwoContainer">

                                    <div class="musicContentContainerTrackTwoResizer">





                                        <!-- TRACK NAME HEADLINER xxxxx -->
                                                                                
                                        <div class="musicContentContainerTrackTwoTrackNameSide">
                                                                                    
                                            <div class="musicContentContainerTrackTwoHeaderNameText">

                                                A.M. conspiracy
                                                                                        
                                            </div>
                                                                                        
                                            <div class="musicContentContainerTrackTwoSubHeaderNameText">

                                                right on time
                                                                                        
                                            </div>
                                                                                
                                        </div>





                                        <!-- TRACK CONTROLS xxxxxxxxxxx -->
                                                                                
                                        <div class="musicContentContainerTrackTwoTrackControlsSide">
                                                                                    
                                            <div class="musicContanetContainerTrackTwoControlsContainer">





                                            <!-- PLAY BUTTON ------- -->
                                                                                            
                                            <div class="musicContentContainerTrackTwoControlsSideOne">
                                                                                                
                                                <div class="musicContentContainerTrackTwoPlayButton">





                                                    <!-- CLICKERS SET -->
                                                                                                            
                                                    <div class="trackTwoPlayClickersSetContainer">
                                                                                                                
                                                        <div class="trackTwoPlayClickerOn">
                                                                                                                    
                                                        </div>

                                                        <div class="trackTwoPlayClickerOnAfterInitial">

                                                        </div>

                                                        <div class="trackTwoPlayClickerBlocker">

                                                        </div>
                                                                                                            
                                                    </div>





                                                    <!-- ACTUAL PLAY BUTTON -->
                                                                                                            
                                                    <div class="musicContentContainerTrackTwoPlayButtonActual">
                                                                                                            
                                                    </div>
                                                                                                    
                                                </div>
                                                                                            
                                            </div>





                                            <!-- PAUSE BUTTON ------ -->
                                                                                            
                                            <div class="musicContentContainerTrackTwoControlsSideTwo">
                                                                                                
                                                <div class="musicContentContainerTrackTwoPauseButton">





                                                    <!-- CLICKERS SET -->
                                                                                                            
                                                    <div class="trackTwoPauseClickersSetContainer">
                                                                                                                
                                                        <div class="trackTwoPauseClickerOn">
                                                                                                                    
                                                        </div>
                                                                                                            
                                                    </div>





                                                    <!-- ACTUAL PAUSE BUTTON -->
                                                                                                            
                                                    <div class="musicContentContainerTrackTwoPauseButtonActualOne">
                                                                                                            
                                                    </div>
                                                                                                            
                                                    <div class="musicContentContainerTrackTwoPauseButtonActualTwo">
                                                                                                            
                                                    </div>
                                                                                                    
                                                </div>
                                                                                            
                                            </div>





                                                <!-- STOP BUTTON ------ -->
                                                                                                
                                                <div class="musicContentContainerTrackTwoControlsSideThree">
                                                                                                    
                                                    <div class="musicContentContainerTrackTwoStopButton">





                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackTwoStopClickersSetContainer">
                                                                                                                    
                                                            <div class="trackTwoStopClickerOn">
                                                                                                                        
                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PAUSE BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackTwoStopButtonActual">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>
                                                                                        
                                            </div>
                                                                                
                                        </div>

                                    </div>

                                </div>





                                <!-- MUSIC TRACK THREE ----------------- -->

                                <div class="musicContentContainerTrackThreeContainer">

                                    <div class="musicContentContainerTrackThreeResizer">





                                        <!-- TRACK NAME HEADLINER xxxxx -->
                                                                                
                                        <div class="musicContentContainerTrackThreeTrackNameSide">
                                                                                    
                                            <div class="musicContentContainerTrackThreeHeaderNameText">

                                                The knocks
                                                                                        
                                            </div>
                                                                                        
                                            <div class="musicContentContainerTrackThreeSubHeaderNameText">

                                                classic
                                                                                        
                                            </div>
                                                                                
                                        </div>





                                        <!-- TRACK CONTROLS xxxxxxxxxxx -->
                                                                                
                                        <div class="musicContentContainerTrackThreeTrackControlsSide">
                                                                                    
                                            <div class="musicContanetContainerTrackThreeControlsContainer">





                                                <!-- PLAY BUTTON ------- -->
                                                                                                
                                                <div class="musicContentContainerTrackThreeControlsSideOne">
                                                                                                    
                                                    <div class="musicContentContainerTrackThreePlayButton">





                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackThreePlayClickersSetContainer">
                                                                                                                    
                                                            <div class="trackThreePlayClickerOn">
                                                                                                                        
                                                            </div>

                                                            <div class="trackThreePlayClickerOnAfterInitial">
    
                                                            </div>

                                                            <div class="trackThreePlayClickerBlocker">

                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PLAY BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackThreePlayButtonActual">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>





                                                <!-- PAUSE BUTTON ------ -->
                                                                                                
                                                <div class="musicContentContainerTrackThreeControlsSideTwo">
                                                                                                    
                                                    <div class="musicContentContainerTrackThreePauseButton">





                                                        <!-- CLICKERS SET -->
                                                                                                            
                                                    <div class="trackThreePauseClickersSetContainer">
                                                                                                                
                                                        <div class="trackThreePauseClickerOn">
                                                                                                                    
                                                        </div>
                                                                                                            
                                                    </div>





                                                    <!-- ACTUAL PAUSE BUTTON -->
                                                                                                            
                                                    <div class="musicContentContainerTrackThreePauseButtonActualOne">
                                                                                                            
                                                    </div>
                                                                                                            
                                                    <div class="musicContentContainerTrackThreePauseButtonActualTwo">
                                                                                                            
                                                    </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>





                                                <!-- STOP BUTTON ------ -->
                                                                                                
                                                <div class="musicContentContainerTrackThreeControlsSideThree">
                                                                                                    
                                                    <div class="musicContentContainerTrackThreeStopButton">





                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackThreeStopClickersSetContainer">
                                                                                                                    
                                                            <div class="trackThreeStopClickerOn">
                                                                                                                        
                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PAUSE BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackThreeStopButtonActual">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>
                                                                                        
                                            </div>
                                                                                
                                        </div>

                                    </div>

                                </div>





                                <!-- MUSIC TRACK FOUR ------------------ -->

                                <div class="musicContentContainerTrackFourContainer">

                                    <div class="musicContentContainerTrackFourResizer">





                                        <!-- TRACK NAME HEADLINER xxxxx -->
                                                                                
                                        <div class="musicContentContainerTrackFourTrackNameSide">
                                                                                    
                                            <div class="musicContentContainerTrackFourHeaderNameText">

                                                Beta kitten
                                                                                        
                                            </div>
                                                                                        
                                            <div class="musicContentContainerTrackFourSubHeaderNameText">

                                                femme fetale
                                                                                        
                                            </div>
                                                                                
                                        </div>





                                        <!-- TRACK CONTROLS xxxxxxxxxxx -->
                                                                                
                                        <div class="musicContentContainerTrackFourTrackControlsSide">
                                                                                    
                                            <div class="musicContanetContainerTrackFourControlsContainer">





                                                <!-- PLAY BUTTON ------- -->
                                                                                                
                                                <div class="musicContentContainerTrackFourControlsSideOne">
                                                                                                    
                                                    <div class="musicContentContainerTrackFourPlayButton">





                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackFourPlayClickersSetContainer">
                                                                                                                    
                                                            <div class="trackFourPlayClickerOn">
                                                                                                                        
                                                            </div>

                                                            <div class="trackFourPlayClickerOnAfterInitial">
    
                                                            </div>

                                                            <div class="trackFourPlayClickerBlocker">

                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PLAY BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackFourPlayButtonActual">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>





                                                <!-- PAUSE BUTTON ------ -->
                                                                                                
                                                <div class="musicContentContainerTrackFourControlsSideTwo">
                                                                                                    
                                                    <div class="musicContentContainerTrackFourPauseButton">





                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackFourPauseClickersSetContainer">
                                                                                                                    
                                                            <div class="trackFourPauseClickerOn">
                                                                                                                        
                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PAUSE BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackFourPauseButtonActualOne">
                                                                                                                
                                                        </div>
                                                                                                                
                                                        <div class="musicContentContainerTrackFourPauseButtonActualTwo">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>





                                                <!-- STOP BUTTON ------ -->
                                                                                                
                                                <div class="musicContentContainerTrackFourControlsSideThree">
                                                                                                    
                                                    <div class="musicContentContainerTrackFourStopButton">





                                                        <!-- CLICKERS SET -->

                                                        <div class="trackFourStopClickersSetContainer">
                                                                                                                    
                                                            <div class="trackFourStopClickerOn">
                                                                                                                        
                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PAUSE BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackFourStopButtonActual">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>
                                                                                        
                                            </div>
                                                                                
                                        </div>

                                    </div>

                                </div>





                                <!-- MUSIC TRACK FIVE ------------------ -->

                                <div class="musicContentContainerTrackFiveContainer">

                                    <div class="musicContentContainerTrackFiveResizer">
                                        
                                        <!-- TRACK NAME HEADLINER xxxxx -->
                                                                                
                                        <div class="musicContentContainerTrackFiveTrackNameSide">
                                                                                    
                                            <div class="musicContentContainerTrackFiveHeaderNameText">

                                                Dr disrespect
                                                                                        
                                            </div>
                                                                                        
                                            <div class="musicContentContainerTrackFiveSubHeaderNameText">

                                                alleyways
                                                                                        
                                            </div>
                                                                                
                                        </div>





                                        <!-- TRACK CONTROLS xxxxxxxxxxx -->
                                                                                
                                        <div class="musicContentContainerTrackFiveTrackControlsSide">
                                                                                    
                                            <div class="musicContanetContainerTrackFiveControlsContainer">





                                                <!-- PLAY BUTTON ------- -->
                                                                                                
                                                <div class="musicContentContainerTrackFiveControlsSideOne">
                                                                                                    
                                                    <div class="musicContentContainerTrackFivePlayButton">
                                                                                                            
                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackFivePlayClickersSetContainer">
                                                                                                                    
                                                            <div class="trackFivePlayClickerOn">
                                                                                                                        
                                                            </div>

                                                            <div class="trackFivePlayClickerOnAfterInitial">
    
                                                            </div>

                                                            <div class="trackFivePlayClickerBlocker">

                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PLAY BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackFivePlayButtonActual">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>





                                                <!-- PAUSE BUTTON ------ -->
                                                                                                
                                                <div class="musicContentContainerTrackFiveControlsSideTwo">
                                                                                                    
                                                    <div class="musicContentContainerTrackFivePauseButton">





                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackFivePauseClickersSetContainer">
                                                                                                                    
                                                            <div class="trackFivePauseClickerOn">
                                                                                                                        
                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PAUSE BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackFivePauseButtonActualOne">
                                                                                                                
                                                        </div>
                                                                                                                
                                                        <div class="musicContentContainerTrackFivePauseButtonActualTwo">
                                                                                                                
                                                        </div>
                                                                                                        
                                                    </div>
                                                                                                
                                                </div>





                                                <!-- STOP BUTTON ------ -->
                                                                                                
                                                <div class="musicContentContainerTrackFiveControlsSideThree">

                                                    <div class="musicContentContainerTrackFiveStopButton">





                                                        <!-- CLICKERS SET -->
                                                                                                                
                                                        <div class="trackFiveStopClickersSetContainer">
                                                                                                                    
                                                            <div class="trackFiveStopClickerOn">
                                                                                                                        
                                                            </div>
                                                                                                                
                                                        </div>





                                                        <!-- ACTUAL PAUSE BUTTON -->
                                                                                                                
                                                        <div class="musicContentContainerTrackFiveStopButtonActual">
                                                                                                            
                                                        </div>

                                                    </div>
                                                                                                
                                                </div>
                                                                                        
                                            </div>
                                                                                
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>





                    <!-- COMMENTS ------------------------------------- -->

                    <div class="contentContainerCommentsContainer">

                        <!-- HEADER TAB xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                        <div class="contentContainerCommentsHeaderContainer">

                            <div class="contentContainerCommentsTextUnderlinerClickerContainer">

                                <div class="contentContainerCommentsTextSide">

                                    <div class="contentContainerCommentsHeadlinerText">

                                        que's

                                    </div>

                                </div>



                                <div class="contentContainerCommentsButtonClickerSide">

                                    <div class="contentContainerCommentsButtonActual">





                                        <!-- CLICKER SET -------------- -->
                                                                                
                                            <div class="contentContainerCommentsButtonClickerSet">
                                                                                        
                                                <div class="contentContainerCommentsButtonClickerOn">
                                                                                            
                                                </div>
                                                                                            
                                                <div class="contentContainerCommentsButtonClickerOff">
                                                                                            
                                                </div>
                                                                                    
                                            </div>





                                        <!-- ICON SET ----------------- -->
                                                                                
                                            <div class="contentContainerCommentsButtonIconSet">
                                                                                        
                                                <div class="contentContainerCommentsButtonIconOne">
                                                                                            
                                                </div>
                                                                                            
                                                <div class="contentContainerCommentsButtonIconTwo">
                                                                                            
                                                </div>
                                                                                    
                                            </div>

                                    </div>

                                </div>

                                <div class="contentContainerCommentsButtonUnderlinerSide">

                                    <div class="contentContainerCommentsButtonUnderlinerActual">

                                    </div>

                                </div>





                                <!-- MUSIC CONTENT CONTAINER xxxxxxxxxxxxxxxxxx -->

                                <div class="contentCommentsContainer">

                                    <div class="contentCommentsContainerResizer">


                                        <div class="contentCommentsSubTextContainer">

                                            <div class="contentCommentsSubTextHeader">

                                                Be heard.

                                            </div>

                                            <div class="contentCommentsSubTextBody">

                                                Got some songs you think peeps would enjoy?
                                                List your top 5 songs in the comments, 
                                                and you could be next weeks corner hoster.

                                            </div>





                                            <!-- FORM FOR COMMENTS SECTION  -->

                                            <div class="contentCommentSectionContentContainer">


                                                <div class="contentCommentSectionContentResizer">

                                                    <!-- FOR SUBMIT COMMENT SECTION xxxxxxxxxxxxxx -->
                                                    <!-- ///////////////////////////////////////// -->

                                                        <div class="contentCommentsSectionSubmitContainer">

                                                            <form class="contentCommentsSectionSubmitFormContainer" action="/" method="post">






                                                                <!-- NUMBER OF INPUTS FOR CLASS NAME COUNTER xxxxx -->
                                                                <!-- ///////////////////////////////////////////// -->
                
                                                                    <div class="classNumberCounterForNodeContainer">
                
                                                                        <input
                                                                        
                                                                            id="counterOne"
                                                                            type="number"
                                                                            name="counterOne"
                                                                            class="classNumberCounterForNodeInput"
                                                                        
                                                                        >
                
                                                                    </div>
                
                                                                <!-- NUMBER OF INPUTS FOR CLASS NAME COUNTER xxxxx -->
                                                                <!-- ///////////////////////////////////////////// -->






                                                                <div class="submitCommentsFormHeadertextContainer">

                                                                    comments ahoy.

                                                                </div>

                                                                <div class="submitCommentsUserNameInputContainer">

                                                                    <input

                                                                        type="text"
                                                                        id="submitCommentsUserNameInput"
                                                                        class="submitCommentsUserNameInput"
                                                                        name="nameInputOne"
                                                                        maxlength="20"
                                                                        placeholder="create a username"

                                                                    >

                                                                </div>

                                                                <div class="submitCommentsUserNameDividerLineContainer">

                                                                    <div class="submitCommentsUserNameDividerLineActual">

                                                                    </div>

                                                                </div>

                                                                <div class="submitCommentsUserCommentInputDividerLineContainer">

                                                                    <div class="submitCommentsUserCommentInputDividerLineBlockOne">

                                                                    </div>

                                                                    <div class="submitCommentsUserCommentInputDividerLineBlockTwo">

                                                                    </div>

                                                                    <div class="submitCommentsUserCommentInputDividerLineBlockThree">

                                                                    </div>

                                                                </div>

                                                                <div class="submitCommentsUserCommentInputContainer">



                                                                    <!-- SUBMIT COMMENT SMALL DESCRIPTION CONTAINER  -->
                                                                    <!-- /////////////////////////////////////////// -->

                                                                        <div class="submitCOmmentDescriptionContainer">

                                                                            <div class="submitCOmmentDescriptionBox">

                                                                                <textarea 
                                                                                
                                                                                    id="CommentSongListDescription"
                                                                                    class="CommentSongListDescription"
                                                                                    name="description"
                                                                                    maxlength="150"
                                                                                    placeholder="say hello hi to your listeners and give em some love..."
                                                                                
                                                                                ></textarea>

                                                                            </div>

                                                                        </div>






                                                                        <div class="submitCommentsUserCommentInputDividerLineTwoContainer">
        
                                                                            <div class="submitCommentsUserCommentInputDividerLineTwoBlockOne">
        
                                                                            </div>
        
                                                                            <div class="submitCommentsUserCommentInputDividerLineTwoBlockTwo">
        
                                                                            </div>
        
                                                                            <div class="submitCommentsUserCommentInputDividerLineTwoBlockThree">
        
                                                                            </div>
        
                                                                        </div>

                                                                        <br>


                                                                    <div class="submitCommentsUserAddSongContainer">






                                                                        <!-- ARTIST / SONG NAME CONTAINER ONE xxxxxxx -->
                                                                        <!-- //////////////////////////////////////// -->
    
                                                                            <div class="commentSongsListContainerOne">
    
                                                                                <!-- SONG BLOCK TEXT HEADLINER xxxxxx -->
                                                                                <!-- //////////////////////////////// -->
    
                                                                                    <div class="CommentSongListHeadlinerTextContainerOne">
    
                                                                                        song one
    
                                                                                    </div>
    
                                                                                <!-- ARTIST NAME CONTAINER -->
                                                                                <!-- ///////////////////// -->
    
                                                                                    <div class="CommentSongListArtistNameContainerOne">
    
                                                                                        <input
                                                                                        
                                                                                            type="text"
                                                                                            id="CommentSongListArtistNameInputOne"
                                                                                            class="CommentSongListArtistNameInputOne"
                                                                                            name="artistOne"
                                                                                            maxlength="20"
                                                                                            placeholder="artist name"
    
                                                                                        >
    
                                                                                    </div>
    
                                                                                    <div class="spacer">
    
                                                                                    </div>
    
                                                                                <!-- SONG NAME CONTAINER - -->
                                                                                <!-- ///////////////////// -->
    
                                                                                    <div class="CommentSongListSongNameContainerOne">
    
                                                                                        <input
                                                                                        
                                                                                            type="text"
                                                                                            id="songOne"
                                                                                            class="CommentSongListSongNameInputOne"
                                                                                            name="songOne"
                                                                                            maxlength="30"
                                                                                            placeholder="song name"
    
                                                                                        >
    
                                                                                    </div>
    
                                                                            </div>



                                                                            

                                                                    </div>






                                                                    <div class="submitCommentsUserCommentInputDividerLineThreeContainer">
    
                                                                        <div class="submitCommentsUserCommentInputDividerLineThreeBlockOne">
    
                                                                        </div>
    
                                                                        <div class="submitCommentsUserCommentInputDividerLineThreeBlockTwo">
    
                                                                        </div>
    
                                                                        <div class="submitCommentsUserCommentInputDividerLineThreeBlockThree">
    
                                                                        </div>
    
                                                                    </div>






                                                                <!-- ADD SONG BUTTON CONTAINER xxxxxxxxxxxxxx -->
                                                                <!-- //////////////////////////////////////// -->
        
        
                                                                    
                                                                    <div class="commentsSonListAddSongButtonContainer">
        
                                                                        <div class="commentsSonListAddSongButtonActual">
        
                                                                            add song
        
                                                                        </div>
        
                                                                    </div>
        
        
        
                                                                <!-- ADD SONG BUTTON CONTAINER xxxxxxxxxxxxxx -->
                                                                <!-- //////////////////////////////////////// -->






                                                                <div class="submitCommentsUserCommentSubmitButton">

                                                                </div>



                                                            </form>

                                                        </div>



                                                        



                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

            </div>

        </div>





        <!-- SONGS LIST ------------------------------------------------ -->

        <!-- https://drive.google.com/uc?export=download&id=1XJMOjX6vUeBrmU6beOP3dbZ2899v0msf -->

        <div class="trackListContainer">

            <audio id="originalPlate">

                <source

                    class="songOne"
                    id="songOne"
                    src=""
                    type="audio/mpeg"

                >
    
            </audio>

        </div>


        <div class="endLineContainer">

            <div class="endLineActualText">

                terms and conditions not loved.

            </div>

        </div>




















        <!-- ////////////////////////////////////////////////////////// -->
        <!-- GET HOST CORNER INFO ///////////////////////////////////// -->
        <!-- ////////////////////////////////////////////////////////// -->
            

            <div class="hostCornerInfoGetterContainer">

                <div class="hostCornerInfoGetterResizer">

                    <form class="hostCornerInfoGetterFormTaker" action="/" method="get">

                        <% var arrayForElements = [] %>

                        <% var getUserNameSelected = "" %>
                        <% var getUserDescriptionSelected = "" %>



            
                        <% selected.forEach(selectedCriteria => { %>

                            <% getUserNameSelected = selectedCriteria.lovinUsernameSelected %>
                            <% getUserDescriptionSelected = selectedCriteria.lovingDescriptionSelected %>

                            <% console.log("userNameSelected: " + getUserNameSelected); %>
                            <% console.log("userDescriptionSelected: " + getUserDescriptionSelected); %>

                        <% }) %>

                        <!-- GETS USERNAME ---------------------------- -->
                        <!-- ////////////////////////////////////////// -->

                            <div class="hostCornerUserNameContainer">

                                <input
                                
                                    type="text"
                                    value="<%=getUserNameSelected%>"
                                    name="hostUserNameInput"
                                    placeholder="waiting for user name"
                                    class="hostCornerUserNameInputField"
                                    readonly

                                >

                            </div>
    
                            <div class="spacer">

                            </div>

                        <!-- GETS USER COMMENT ------------------------ -->
                        <!-- ////////////////////////////////////////// -->

                            <div class="hostCornerUserCommentContainer">

                                <input
                                
                                    type="text"
                                    value="<%=getUserDescriptionSelected%>"
                                    name="hostUserCommentInput"
                                    placeholder="waiting for user comment"
                                    class="hostCornerUserCommentInputField"
                                    readonly

                                >

                            </div>

                    </form>

                </div>

            </div>




















            <!-- ////////////////////////////////////////////////////////// -->
            <!-- MAKE MONGO ENTRY ///////////////////////////////////////// -->
            <!-- ////////////////////////////////////////////////////////// -->

                <div class="makeMongoEntryContainer">

                    <div class="makeMongoEntryResizer">

                        <form class="makeMongoEntryFormContainer" action="/" method="post">

                            <div class="makeMongoEntryInputFieldContainer">

                                <input
                                
                                    type="text"
                                    value=""
                                    name="makeMongoEntryInputField"
                                    placeholder="waiting for entry"
                                    class="makeMongoEntryInputField"
                                    readonly
                                
                                >

                            </div>
    
                        </form>

                    </div>

                </div>
        
    </div>

    

</body>

</html>
 
 


